* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
}

header {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px #EAECEF,
    2px 2px 2px #a2a3a3,
    2px 2px 4px #5b5c5d;
    border-top-right-radius: 25px;
}

nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav div.profile-picture {
    text-align: center;
}

nav div.profile-picture img{
    width: 70%;
    border-radius: 50%;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px #EAECEF,
    2px 2px 2px #d8dadd,
    2px 2px 4px #a6a8aa;
    filter: grayscale(100%);
}

nav ul {
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px rgba(255, 255, 255, .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

nav ul li:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}


nav ul li a {
    color:  #3c4042;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    opacity: 0.6;
    text-transform: uppercase;
}

nav ul li a.onPage {
    opacity: 1;
}

main {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    padding: 7% 3%;

}

section.about {
    margin-bottom: 3%;
}

h1 {
    font-size: 52px;
    font-family: 'Ubuntu', sans-serif;
    color: #050505;
}

h2, h2 a {
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #3c4042;
    text-decoration: none;
}

h2 span {
    color: #a2a3a3;
}

section.description {
    margin-bottom: 3%;
}

section.description p {
    font-size: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #3c4042;
}

section.description ol li{
    font-size: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #3c4042;
    font-weight: normal;
}

section.description ul {
    font-size: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #3c4042;
    font-weight: normal;
    list-style: none;
}

.socialmedia {
    margin-top: 12%;
}

.socialmedia a {
    padding: 1.5em 5em;
    background: #fff;
    border: none;
    border-radius: .5rem;
    color: #3c4042;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    outline: none;
    cursor: pointer;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
    -2px -2px 4px #EAECEF,
    2px 2px 2px #a2a3a3,
    2px 2px 4px #5b5c5d;
    margin-left: 10px;
}

.socialmedia a:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}

.socialmedia a:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}